.appContainer {
  /* background-image: url('../../../static/img/table-bg.png'); */
}

.main {
  width: 100vw;
  height: calc(100vh - 100px);
  padding: 10px;
}

.gameWindow {
  margin: 20px auto;
  padding: 30px;
}
