@import url('https://fonts.googleapis.com/css2?family=Gruppo');
@import url('https://fonts.googleapis.com/css2?family=Audiowide');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(#141440, #101214);
  color: #d2dce2;
  font-family: 'Gruppo';
  font-size: 16px;
}
